body {
    background: no-repeat;
    background-size: cover;
    background-image: url("../images/background_train_station.jpg");
    
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

.jumbotron {
    color: ghostwhite;
    background: rgba(75, 71, 71, 0.644);
}

.card{
    color: ghostwhite;
    background:  rgba(75, 71, 71, 0.644);
}

.card-header {
    background: transparent;
    font-weight: bold;
}

.btn{
    cursor: pointer;
}